<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.login.mobi.loginapp">

    <!-- Restaurant Information Page -->
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Web View -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Order Fragment -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_book_me_launcher"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/ic_book_me_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BookMeTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true">

        <!-- android:icon="@mipmap/ic_launcher" -->
        <!-- android:roundIcon="@mipmap/ic_launcher_round" -->

        <activity
            android:name=".UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".DetailsActivity" />
        <!-- <activity android:name=".MyApp"></activity> -->


        <!-- Welcome Page, Sign In, Sign Up Pages -->
        <activity
            android:name=".views.client.authorization.WelcomePage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.client.authorization.SignUpPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".views.client.authorization.SignInPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>


        <!-- ADMIN -->
        <!-- Menu Pages -->
        <activity
            android:name=".views.admin.MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.admin.MyRestaurantInformationPage"
            android:screenOrientation="portrait" />







        <!-- CLIENT -->
        <!-- Order Pages -->
        <activity
            android:name=".views.client.order.Version1_QrCodeScanner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tabs"
            android:label="@string/title_activity_tabs"
            android:theme="@style/BookMeTheme"></activity>
        <activity
            android:name=".TabsDynamically"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.client.order.TabsMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.client.order.OrderedDishesPage"
            android:screenOrientation="portrait" />

        <!-- Restaurant Pages -->
        <activity
            android:name=".views.client.restaurants.RestaurantInformationPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.client.restaurants.RestaurantWebViewPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.client.restaurants.RestaurantTableBookingPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".views.client.restaurantMenu.RestaurantDishTypesPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".views.client.restaurantMenu.RestaurantDishesPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".views.client.restaurantMenu.RestaurantDishInformationPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.client.restaurantMenu.RestaurantDishesPreorderPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.client.restaurantMenu.PreorderTabsMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.client.restaurantMenu.PreorderOrderedDishesPage"
            android:screenOrientation="portrait" />

        <!-- Menu Pages: PROFILE -->
        <activity
            android:name=".views.client.menu.profile.ProfilePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.client.menu.profile.ProfileEditPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- Menu Pages: BOOKINGS -->
        <activity
            android:name=".views.client.menu.bookings.BookingsPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".views.client.menu.bookings.BookingDetailsPage"
            android:screenOrientation="portrait" />

        <!-- Menu Pages: ORDERS -->
        <activity
            android:name=".views.client.menu.orders.OrdersPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--<activity-->
            <!--android:name=".views.menu.orders.OrderDetailsPage"-->
            <!--android:screenOrientation="portrait" />-->

        <!-- Bottom Navigation -->
        <activity
            android:name=".views.client.bottomNavigation.BottomNavigationPage">
        </activity>




    </application>

</manifest>